In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions as F
# Inicia a sessão do Spark
spark = SparkSession.builder.appName("dados_escolares").getOrCreate()

## Criando os dados para a tabela Escolas

> Adicionar aspas

In [ ]:

dados_escolares = [ ("S001", "Escola A", "São Paulo", "SP", 500, "1º ao 9º Ano", "Maria Silva", 15, "Futebol, Basquete", 1995, 85, "Alta"),
    ("S002", "Escola B", "Rio de Janeiro", "RJ", 300, "Educação Infantil ao 5º Ano", "Carlos Pereira", 18, "Futebol", 2000, 90, "Média"),
    ("S003", "Escola C", "Belo Horizonte", "MG", 450, "6º ao 12º Ano", "Ana Costa", 20, "Basquete", 1985, 88, "Baixa"),
    ("S004", "Escola D", "Curitiba", "PR", 350, "1º ao 8º Ano", "José Santos", 12, "Vôlei", 2010, 92, "Média"),
    ("S005", "Escola E", "Salvador", "BA", 600, "Educação Infantil ao 9º Ano", "Fernanda Souza", 14, "Futebol, Vôlei", 2005, 87, "Alta"),
    ("S006", "Escola F", "Fortaleza", "CE", 400, "1º ao 5º Ano", "Rafael Oliveira", 16, "Basquete", 2012, 91, "Alta"),
    ("S007", "Escola G", "Porto Alegre", "RS", 550, "6º ao 12º Ano", "Juliana Rocha", 13, "Futebol", 1998, 85, "Baixa"),
    ("S008", "Escola H", "Recife", "PE", 200, "1º ao 5º Ano", "Lucas Almeida", 19, "Natação", 2015, 93, "Alta"),
    ("S009", "Escola I", "Manaus", "AM", 250, "Educação Infantil ao 5º Ano", "Patricia Lima", 17, "Basquete, Natação", 2020, 90, "Média"),
    ("S010", "Escola J", "Belém", "PA", 450, "1º ao 8º Ano", "Roberto Souza", 10, "Futebol", 2008, 89, "Baixa"),
    ("S011", "Escola K", "Goiânia", "GO", 500, "6º ao 12º Ano", "Mariana Silva", 20, "Basquete", 1990, 94, "Alta"),
    ("S012", "Escola L", "Florianópolis", "SC", 300, "Educação Infantil ao 9º Ano", "Felipe Santos", 22, "Futebol", 2018, 95, "Alta")
]

## Criando as Colunas

In [ ]:
colunas = [ "ID da Escola", "Nome da Escola", "Cidade", "Estado", "Número de Alunos", "Séries Oferecidas", "Diretor(a)",
           "Relação Professor/Aluno", "Programas Esportivos", "Ano de Fundação", "Média de Notas", "Diversidade de Alunos"]

In [ ]:
from os import truncate
df = spark.createDataFrame(dados_escolares, colunas)
df.show(truncate = False)

+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+
|ID da Escola|Nome da Escola|Cidade        |Estado|Número de Alunos|Séries Oferecidas          |Diretor(a)     |Relação Professor/Aluno|Programas Esportivos|Ano de Fundação|Média de Notas|Diversidade de Alunos|
+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+
|S001        |Escola A      |São Paulo     |SP    |500             |1º ao 9º Ano               |Maria Silva    |15                     |Futebol, Basquete   |1995           |85            |Alta                 |
|S002        |Escola B      |Rio de Janeiro|RJ    |300             |Educação Infantil ao 5º Ano|Carlos Pereira |18                     |Futebol             |2000           |90            |Média                |
|S003        |Escola C      |Belo Horizonte|MG    |450             |6º ao 12º Ano              |Ana Costa      |20                     |Basquete            |1985           |88            |Baixa                |
|S004        |Escola D      |Curitiba      |PR    |350             |1º ao 8º Ano               |José Santos    |12                     |Vôlei               |2010           |92            |Média                |
|S005        |Escola E      |Salvador      |BA    |600             |Educação Infantil ao 9º Ano|Fernanda Souza |14                     |Futebol, Vôlei      |2005           |87            |Alta                 |
|S006        |Escola F      |Fortaleza     |CE    |400             |1º ao 5º Ano               |Rafael Oliveira|16                     |Basquete            |2012           |91            |Alta                 |
|S007        |Escola G      |Porto Alegre  |RS    |550             |6º ao 12º Ano              |Juliana Rocha  |13                     |Futebol             |1998           |85            |Baixa                |
|S008        |Escola H      |Recife        |PE    |200             |1º ao 5º Ano               |Lucas Almeida  |19                     |Natação             |2015           |93            |Alta                 |
|S009        |Escola I      |Manaus        |AM    |250             |Educação Infantil ao 5º Ano|Patricia Lima  |17                     |Basquete, Natação   |2020           |90            |Média                |
|S010        |Escola J      |Belém         |PA    |450             |1º ao 8º Ano               |Roberto Souza  |10                     |Futebol             |2008           |89            |Baixa                |
|S011        |Escola K      |Goiânia       |GO    |500             |6º ao 12º Ano              |Mariana Silva  |20                     |Basquete            |1990           |94            |Alta                 |
|S012        |Escola L      |Florianópolis |SC    |300             |Educação Infantil ao 9º Ano|Felipe Santos  |22                     |Futebol             |2018           |95            |Alta                 |
+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+

## Renomeando as Colunas

In [ ]:
df_renomear = df\
.withColumnRenamed ("ID da Escola", "Id_escola")\
  .withColumnRenamed ("Nome da Escola", "Nome_Escola")\
  .withColumnRenamed ("Cidade", "Nome_Cidade")\
  .withColumnRenamed ("Estado", "Nome_Estado")\
  .withColumnRenamed ("Número de Alunos", "Qtd_alunos")\
  .withColumnRenamed ("Séries Oferecidas", "Nome_Series_Oferecidas")\
  .withColumnRenamed ("Diretor(a)", "Nome_Diretoria")\
  .withColumnRenamed ("Relação Professor/Aluno", "Qtd_relacao_Prof_Alun")\
  .withColumnRenamed ("Programas Esportivos", "Nome_Programas_Esportivos")\
  .withColumnRenamed ("Ano de Fundação", "Ano_de_Fundacao")\
  .withColumnRenamed ("Média de Notas", "Decimal_Media_Notas")\
  .withColumnRenamed ("Diversidade de Alunos", "Desc_Diversidade_Alunos")
df_renomear.show(truncate=False)

+---------+-----------+--------------+-----------+----------+---------------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|Id_escola|Nome_Escola|Nome_Cidade   |Nome_Estado|Qtd_alunos|Nome_Series_Oferecidas     |Nome_Diretoria |Qtd_relacao_Prof_Alun|Nome_Programas_Esportivos|Ano_de_Fundacao|Decimal_Media_Notas|Desc_Diversidade_Alunos|
+---------+-----------+--------------+-----------+----------+---------------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|S001     |Escola A   |São Paulo     |SP         |500       |1º ao 9º Ano               |Maria Silva    |15                   |Futebol, Basquete        |1995           |85                 |Alta                   |
|S002     |Escola B   |Rio de Janeiro|RJ         |300       |Educação Infantil ao 5º Ano|Carlos Pereira |18                   |Futebol                  |2000           |90                 |Média                  |
|S003     |Escola C   |Belo Horizonte|MG         |450       |6º ao 12º Ano              |Ana Costa      |20                   |Basquete                 |1985           |88                 |Baixa                  |
|S004     |Escola D   |Curitiba      |PR         |350       |1º ao 8º Ano               |José Santos    |12                   |Vôlei                    |2010           |92                 |Média                  |
|S005     |Escola E   |Salvador      |BA         |600       |Educação Infantil ao 9º Ano|Fernanda Souza |14                   |Futebol, Vôlei           |2005           |87                 |Alta                   |
|S006     |Escola F   |Fortaleza     |CE         |400       |1º ao 5º Ano               |Rafael Oliveira|16                   |Basquete                 |2012           |91                 |Alta                   |
|S007     |Escola G   |Porto Alegre  |RS         |550       |6º ao 12º Ano              |Juliana Rocha  |13                   |Futebol                  |1998           |85                 |Baixa                  |
|S008     |Escola H   |Recife        |PE         |200       |1º ao 5º Ano               |Lucas Almeida  |19                   |Natação                  |2015           |93                 |Alta                   |
|S009     |Escola I   |Manaus        |AM         |250       |Educação Infantil ao 5º Ano|Patricia Lima  |17                   |Basquete, Natação        |2020           |90                 |Média                  |
|S010     |Escola J   |Belém         |PA         |450       |1º ao 8º Ano               |Roberto Souza  |10                   |Futebol                  |2008           |89                 |Baixa                  |
|S011     |Escola K   |Goiânia       |GO         |500       |6º ao 12º Ano              |Mariana Silva  |20                   |Basquete                 |1990           |94                 |Alta                   |
|S012     |Escola L   |Florianópolis |SC         |300       |Educação Infantil ao 9º Ano|Felipe Santos  |22                   |Futebol                  |2018           |95                 |Alta                   |
+---------+-----------+--------------+-----------+----------+---------------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+

In [ ]:
df_renomear.select(col('Qtd_relacao_Prof_Alun')).distinct().show()

+---------------------+
|Qtd_relacao_Prof_Alun|
+---------------------+
|                   12|
|                   18|
|                   14|
|                   15|
|                   20|
|                   16|
|                   19|
|                   22|
|                   17|
|                   10|
|                   13|
+---------------------+

In [ ]:
#collect() entrega em formato de lista o que você está pedindo
lista = df_renomear.select(col('Qtd_relacao_Prof_Alun')).distinct().collect()
lista

[Row(Qtd_relacao_Prof_Alun=12),
 Row(Qtd_relacao_Prof_Alun=18),
 Row(Qtd_relacao_Prof_Alun=14),
 Row(Qtd_relacao_Prof_Alun=15),
 Row(Qtd_relacao_Prof_Alun=20),
 Row(Qtd_relacao_Prof_Alun=16),
 Row(Qtd_relacao_Prof_Alun=19),
 Row(Qtd_relacao_Prof_Alun=22),
 Row(Qtd_relacao_Prof_Alun=17),
 Row(Qtd_relacao_Prof_Alun=10),
 Row(Qtd_relacao_Prof_Alun=13)]

In [ ]:
type(lista[9][0])

int

In [ ]:
df_renomear.show()

+---------+-----------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|Id_escola|Nome_Escola|   Nome_Cidade|Nome_Estado|Qtd_alunos|Nome_Series_Oferecidas| Nome_Diretoria|Qtd_relacao_Prof_Alun|Nome_Programas_Esportivos|Ano_de_Fundacao|Decimal_Media_Notas|Desc_Diversidade_Alunos|
+---------+-----------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|     S001|   Escola A|     São Paulo|         SP|       500|          1º ao 9º Ano|    Maria Silva|                   15|        Futebol, Basquete|           1995|                 85|                   Alta|
|     S002|   Escola B|Rio de Janeiro|         RJ|       300|  Educação Infantil...| Carlos Pereira|                   18|                  Futebol|           2000|                 90|                  Média|
|     S003|   Escola C|Belo Horizonte|         MG|       450|         6º ao 12º Ano|      Ana Costa|                   20|                 Basquete|           1985|                 88|                  Baixa|
|     S004|   Escola D|      Curitiba|         PR|       350|          1º ao 8º Ano|    José Santos|                   12|                    Vôlei|           2010|                 92|                  Média|
|     S005|   Escola E|      Salvador|         BA|       600|  Educação Infantil...| Fernanda Souza|                   14|           Futebol, Vôlei|           2005|                 87|                   Alta|
|     S006|   Escola F|     Fortaleza|         CE|       400|          1º ao 5º Ano|Rafael Oliveira|                   16|                 Basquete|           2012|                 91|                   Alta|
|     S007|   Escola G|  Porto Alegre|         RS|       550|         6º ao 12º Ano|  Juliana Rocha|                   13|                  Futebol|           1998|                 85|                  Baixa|
|     S008|   Escola H|        Recife|         PE|       200|          1º ao 5º Ano|  Lucas Almeida|                   19|                  Natação|           2015|                 93|                   Alta|
|     S009|   Escola I|        Manaus|         AM|       250|  Educação Infantil...|  Patricia Lima|                   17|        Basquete, Natação|           2020|                 90|                  Média|
|     S010|   Escola J|         Belém|         PA|       450|          1º ao 8º Ano|  Roberto Souza|                   10|                  Futebol|           2008|                 89|                  Baixa|
|     S011|   Escola K|       Goiânia|         GO|       500|         6º ao 12º Ano|  Mariana Silva|                   20|                 Basquete|           1990|                 94|                   Alta|
|     S012|   Escola L| Florianópolis|         SC|       300|  Educação Infantil...|  Felipe Santos|                   22|                  Futebol|           2018|                 95|                   Alta|
+---------+-----------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+

In [ ]:
dados_escolares = df_renomear
dados_escolares.show()

+---------+-----------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|Id_escola|Nome_Escola|   Nome_Cidade|Nome_Estado|Qtd_alunos|Nome_Series_Oferecidas| Nome_Diretoria|Qtd_relacao_Prof_Alun|Nome_Programas_Esportivos|Ano_de_Fundacao|Decimal_Media_Notas|Desc_Diversidade_Alunos|
+---------+-----------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|     S001|   Escola A|     São Paulo|         SP|       500|          1º ao 9º Ano|    Maria Silva|                   15|        Futebol, Basquete|           1995|                 85|                   Alta|
|     S002|   Escola B|Rio de Janeiro|         RJ|       300|  Educação Infantil...| Carlos Pereira|                   18|                  Futebol|           2000|                 90|                  Média|
|     S003|   Escola C|Belo Horizonte|         MG|       450|         6º ao 12º Ano|      Ana Costa|                   20|                 Basquete|           1985|                 88|                  Baixa|
|     S004|   Escola D|      Curitiba|         PR|       350|          1º ao 8º Ano|    José Santos|                   12|                    Vôlei|           2010|                 92|                  Média|
|     S005|   Escola E|      Salvador|         BA|       600|  Educação Infantil...| Fernanda Souza|                   14|           Futebol, Vôlei|           2005|                 87|                   Alta|
|     S006|   Escola F|     Fortaleza|         CE|       400|          1º ao 5º Ano|Rafael Oliveira|                   16|                 Basquete|           2012|                 91|                   Alta|
|     S007|   Escola G|  Porto Alegre|         RS|       550|         6º ao 12º Ano|  Juliana Rocha|                   13|                  Futebol|           1998|                 85|                  Baixa|
|     S008|   Escola H|        Recife|         PE|       200|          1º ao 5º Ano|  Lucas Almeida|                   19|                  Natação|           2015|                 93|                   Alta|
|     S009|   Escola I|        Manaus|         AM|       250|  Educação Infantil...|  Patricia Lima|                   17|        Basquete, Natação|           2020|                 90|                  Média|
|     S010|   Escola J|         Belém|         PA|       450|          1º ao 8º Ano|  Roberto Souza|                   10|                  Futebol|           2008|                 89|                  Baixa|
|     S011|   Escola K|       Goiânia|         GO|       500|         6º ao 12º Ano|  Mariana Silva|                   20|                 Basquete|           1990|                 94|                   Alta|
|     S012|   Escola L| Florianópolis|         SC|       300|  Educação Infantil...|  Felipe Santos|                   22|                  Futebol|           2018|                 95|                   Alta|
+---------+-----------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+

## Criando os Dados para a tabela Aluno

In [ ]:
import random
from datetime import datetime

In [ ]:
hoje = datetime.today()
mes_atual = hoje.month
dia_atual = hoje.day
ano_atual = hoje.year

## Criando os dados

In [ ]:
dados_alunos = [
    ("Ana Costa", "M001", 15, "Escola A", "São Paulo", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Carlos Pereira", "M002", 18, "Escola B", "Rio de Janeiro", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("José Santos", "M003", 12, "Escola D", "Paraná", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Fernanda Souza", "M004", 14, "Escola E", "Bahia", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Rafael Oliveira", "M005", 16, "Escola F", "Ceará", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Juliana Rocha", "M006", 13, "Escola G", "Rio Grande do Sul", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Lucas Almeida", "M007", 19, "Escola H", "Pernambuco", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Patricia Lima", "M008", 17, "Escola I", "Amazonas", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Roberto Souza", "M009", 10, "Escola J", "Pará", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Mariana Silva", "M010", 20, "Escola K", "Goiás", random.randint(75, 100), mes_atual, dia_atual, ano_atual),
    ("Felipe Santos", "M011", 22, "Escola L", "Santa Catarina", random.randint(75, 100), mes_atual, dia_atual, ano_atual)
]

##Criando as Colunas

In [ ]:
colunas = ["Aluno", "Matrícula", "Idade", "Nome da Escola", "Estado", "Frequência", "Mês", "Dia", "Ano"]

In [ ]:
from os import truncate
spark = SparkSession.builder.appName("DadosAlunos").getOrCreate()

df.show(truncate = False)

+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+
|ID da Escola|Nome da Escola|Cidade        |Estado|Número de Alunos|Séries Oferecidas          |Diretor(a)     |Relação Professor/Aluno|Programas Esportivos|Ano de Fundação|Média de Notas|Diversidade de Alunos|
+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+
|S001        |Escola A      |São Paulo     |SP    |500             |1º ao 9º Ano               |Maria Silva    |15                     |Futebol, Basquete   |1995           |85            |Alta                 |
|S002        |Escola B      |Rio de Janeiro|RJ    |300             |Educação Infantil ao 5º Ano|Carlos Pereira |18                     |Futebol             |2000           |90            |Média                |
|S003        |Escola C      |Belo Horizonte|MG    |450             |6º ao 12º Ano              |Ana Costa      |20                     |Basquete            |1985           |88            |Baixa                |
|S004        |Escola D      |Curitiba      |PR    |350             |1º ao 8º Ano               |José Santos    |12                     |Vôlei               |2010           |92            |Média                |
|S005        |Escola E      |Salvador      |BA    |600             |Educação Infantil ao 9º Ano|Fernanda Souza |14                     |Futebol, Vôlei      |2005           |87            |Alta                 |
|S006        |Escola F      |Fortaleza     |CE    |400             |1º ao 5º Ano               |Rafael Oliveira|16                     |Basquete            |2012           |91            |Alta                 |
|S007        |Escola G      |Porto Alegre  |RS    |550             |6º ao 12º Ano              |Juliana Rocha  |13                     |Futebol             |1998           |85            |Baixa                |
|S008        |Escola H      |Recife        |PE    |200             |1º ao 5º Ano               |Lucas Almeida  |19                     |Natação             |2015           |93            |Alta                 |
|S009        |Escola I      |Manaus        |AM    |250             |Educação Infantil ao 5º Ano|Patricia Lima  |17                     |Basquete, Natação   |2020           |90            |Média                |
|S010        |Escola J      |Belém         |PA    |450             |1º ao 8º Ano               |Roberto Souza  |10                     |Futebol             |2008           |89            |Baixa                |
|S011        |Escola K      |Goiânia       |GO    |500             |6º ao 12º Ano              |Mariana Silva  |20                     |Basquete            |1990           |94            |Alta                 |
|S012        |Escola L      |Florianópolis |SC    |300             |Educação Infantil ao 9º Ano|Felipe Santos  |22                     |Futebol             |2018           |95            |Alta                 |
+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+

In [ ]:
df_alunos = spark.createDataFrame(dados_alunos, colunas)

## Renomeando os campos

In [ ]:
df_alunos = df_alunos \
    .withColumnRenamed("Aluno", "Nome_Aluno")\
    .withColumnRenamed("Matrícula", "Cod_Matricula")\
    .withColumnRenamed("Idade", "Num_Idade")\
    .withColumnRenamed("Nome da Escola", "Nome_Escola")\
    .withColumnRenamed("Estado", "Nome_Estado")\
    .withColumnRenamed("Frequência", "Descricao_frequencia")\
    .withColumnRenamed("Mês", "Data_Mes")\
    .withColumnRenamed("Dia", "Data_Dia")\
    .withColumnRenamed("Ano", "Data_Ano")

df_alunos.show(truncate=False)

+---------------+-------------+---------+-----------+-----------------+--------------------+--------+--------+--------+
|Nome_Aluno     |Cod_Matricula|Num_Idade|Nome_Escola|Nome_Estado      |Descricao_frequencia|Data_Mes|Data_Dia|Data_Ano|
+---------------+-------------+---------+-----------+-----------------+--------------------+--------+--------+--------+
|Ana Costa      |M001         |15       |Escola A   |São Paulo        |96                  |4       |28      |2025    |
|Carlos Pereira |M002         |18       |Escola B   |Rio de Janeiro   |97                  |4       |28      |2025    |
|José Santos    |M003         |12       |Escola D   |Paraná           |93                  |4       |28      |2025    |
|Fernanda Souza |M004         |14       |Escola E   |Bahia            |92                  |4       |28      |2025    |
|Rafael Oliveira|M005         |16       |Escola F   |Ceará            |100                 |4       |28      |2025    |
|Juliana Rocha  |M006         |13       |Escola G   |Rio Grande do Sul|96                  |4       |28      |2025    |
|Lucas Almeida  |M007         |19       |Escola H   |Pernambuco       |80                  |4       |28      |2025    |
|Patricia Lima  |M008         |17       |Escola I   |Amazonas         |85                  |4       |28      |2025    |
|Roberto Souza  |M009         |10       |Escola J   |Pará             |85                  |4       |28      |2025    |
|Mariana Silva  |M010         |20       |Escola K   |Goiás            |90                  |4       |28      |2025    |
|Felipe Santos  |M011         |22       |Escola L   |Santa Catarina   |92                  |4       |28      |2025    |
+---------------+-------------+---------+-----------+-----------------+--------------------+--------+--------+--------+

## Unindo tabela Escola com tabela Aluno

In [ ]:
df_final = df_alunos.join(
    dados_escolares, # O DataFrame que você está unindo
    on = "Nome_Escola",
     how = "inner"  # Tipo de join, pode ser inner, left, right

)
df_final.show()

+-----------+---------------+-------------+---------+-----------------+--------------------+--------+--------+--------+---------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|Nome_Escola|     Nome_Aluno|Cod_Matricula|Num_Idade|      Nome_Estado|Descricao_frequencia|Data_Mes|Data_Dia|Data_Ano|Id_escola|   Nome_Cidade|Nome_Estado|Qtd_alunos|Nome_Series_Oferecidas| Nome_Diretoria|Qtd_relacao_Prof_Alun|Nome_Programas_Esportivos|Ano_de_Fundacao|Decimal_Media_Notas|Desc_Diversidade_Alunos|
+-----------+---------------+-------------+---------+-----------------+--------------------+--------+--------+--------+---------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|   Escola A|      Ana Costa|         M001|       15|        São Paulo|                  96|       4|      28|    2025|     S001|     São Paulo|         SP|       500|          1º ao 9º Ano|    Maria Silva|                   15|        Futebol, Basquete|           1995|                 85|                   Alta|
|   Escola B| Carlos Pereira|         M002|       18|   Rio de Janeiro|                  97|       4|      28|    2025|     S002|Rio de Janeiro|         RJ|       300|  Educação Infantil...| Carlos Pereira|                   18|                  Futebol|           2000|                 90|                  Média|
|   Escola D|    José Santos|         M003|       12|           Paraná|                  93|       4|      28|    2025|     S004|      Curitiba|         PR|       350|          1º ao 8º Ano|    José Santos|                   12|                    Vôlei|           2010|                 92|                  Média|
|   Escola E| Fernanda Souza|         M004|       14|            Bahia|                  92|       4|      28|    2025|     S005|      Salvador|         BA|       600|  Educação Infantil...| Fernanda Souza|                   14|           Futebol, Vôlei|           2005|                 87|                   Alta|
|   Escola F|Rafael Oliveira|         M005|       16|            Ceará|                 100|       4|      28|    2025|     S006|     Fortaleza|         CE|       400|          1º ao 5º Ano|Rafael Oliveira|                   16|                 Basquete|           2012|                 91|                   Alta|
|   Escola G|  Juliana Rocha|         M006|       13|Rio Grande do Sul|                  96|       4|      28|    2025|     S007|  Porto Alegre|         RS|       550|         6º ao 12º Ano|  Juliana Rocha|                   13|                  Futebol|           1998|                 85|                  Baixa|
|   Escola H|  Lucas Almeida|         M007|       19|       Pernambuco|                  80|       4|      28|    2025|     S008|        Recife|         PE|       200|          1º ao 5º Ano|  Lucas Almeida|                   19|                  Natação|           2015|                 93|                   Alta|
|   Escola I|  Patricia Lima|         M008|       17|         Amazonas|                  85|       4|      28|    2025|     S009|        Manaus|         AM|       250|  Educação Infantil...|  Patricia Lima|                   17|        Basquete, Natação|           2020|                 90|                  Média|
|   Escola J|  Roberto Souza|         M009|       10|             Pará|                  85|       4|      28|    2025|     S010|         Belém|         PA|       450|          1º ao 8º Ano|  Roberto Souza|                   10|                  Futebol|           2008|                 89|                  Baixa|
|   Escola K|  Mariana Silva|         M010|       20|            Goiás|                  90|       4|      28|    2025|     S011|       Goiânia|         GO|       500|         6º ao 12º Ano|  Mariana Silva|                   20|                 Basquete|           1990|                 94|                   Alta|
|   Escola L|  Felipe Santos|         M011|       22|   Santa Catarina|                  92|       4|      28|    2025|     S012| Florianópolis|         SC|       300|  Educação Infantil...|  Felipe Santos|                   22|                  Futebol|           2018|                 95|                   Alta|
+-----------+---------------+-------------+---------+-----------------+--------------------+--------+--------+--------+---------+--------------+-----------+----------+----------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+

## Criando coluna nova de Data