In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
# Inicia a sessão do Spark
spark = SparkSession.builder.appName("dados_escolares").getOrCreate()

In [ ]:

dados = [ ("S001", "Escola A", "São Paulo", "SP", 500, "1º ao 9º Ano", "Maria Silva", 15, "Futebol, Basquete", 1995, 85, "Alta"),
    ("S002", "Escola B", "Rio de Janeiro", "RJ", 300, "Educação Infantil ao 5º Ano", "Carlos Pereira", 18, "Futebol", 2000, 90, "Média"),
    ("S003", "Escola C", "Belo Horizonte", "MG", 450, "6º ao 12º Ano", "Ana Costa", 20, "Basquete", 1985, 88, "Baixa"),
    ("S004", "Escola D", "Curitiba", "PR", 350, "1º ao 8º Ano", "José Santos", 12, "Vôlei", 2010, 92, "Média"),
    ("S005", "Escola E", "Salvador", "BA", 600, "Educação Infantil ao 9º Ano", "Fernanda Souza", 14, "Futebol, Vôlei", 2005, 87, "Alta"),
    ("S006", "Escola F", "Fortaleza", "CE", 400, "1º ao 5º Ano", "Rafael Oliveira", 16, "Basquete", 2012, 91, "Alta"),
    ("S007", "Escola G", "Porto Alegre", "RS", 550, "6º ao 12º Ano", "Juliana Rocha", 13, "Futebol", 1998, 85, "Baixa"),
    ("S008", "Escola H", "Recife", "PE", 200, "1º ao 5º Ano", "Lucas Almeida", 19, "Natação", 2015, 93, "Alta"),
    ("S009", "Escola I", "Manaus", "AM", 250, "Educação Infantil ao 5º Ano", "Patricia Lima", 17, "Basquete, Natação", 2020, 90, "Média"),
    ("S010", "Escola J", "Belém", "PA", 450, "1º ao 8º Ano", "Roberto Souza", 10, "Futebol", 2008, 89, "Baixa"),
    ("S011", "Escola K", "Goiânia", "GO", 500, "6º ao 12º Ano", "Mariana Silva", 20, "Basquete", 1990, 94, "Alta"),
    ("S012", "Escola L", "Florianópolis", "SC", 300, "Educação Infantil ao 9º Ano", "Felipe Santos", 22, "Futebol", 2018, 95, "Alta")
]

In [ ]:
colunas = [ "ID da Escola", "Nome da Escola", "Cidade", "Estado", "Número de Alunos", "Séries Oferecidas", "Diretor(a)",
           "Relação Professor/Aluno", "Programas Esportivos", "Ano de Fundação", "Média de Notas", "Diversidade de Alunos"]

In [ ]:
from os import truncate
df = spark.createDataFrame(dados, colunas)
df.show(truncate = False)

+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+
|ID da Escola|Nome da Escola|Cidade        |Estado|Número de Alunos|Séries Oferecidas          |Diretor(a)     |Relação Professor/Aluno|Programas Esportivos|Ano de Fundação|Média de Notas|Diversidade de Alunos|
+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+
|S001        |Escola A      |São Paulo     |SP    |500             |1º ao 9º Ano               |Maria Silva    |15                     |Futebol, Basquete   |1995           |85            |Alta                 |
|S002        |Escola B      |Rio de Janeiro|RJ    |300             |Educação Infantil ao 5º Ano|Carlos Pereira |18                     |Futebol             |2000           |90            |Média                |
|S003        |Escola C      |Belo Horizonte|MG    |450             |6º ao 12º Ano              |Ana Costa      |20                     |Basquete            |1985           |88            |Baixa                |
|S004        |Escola D      |Curitiba      |PR    |350             |1º ao 8º Ano               |José Santos    |12                     |Vôlei               |2010           |92            |Média                |
|S005        |Escola E      |Salvador      |BA    |600             |Educação Infantil ao 9º Ano|Fernanda Souza |14                     |Futebol, Vôlei      |2005           |87            |Alta                 |
|S006        |Escola F      |Fortaleza     |CE    |400             |1º ao 5º Ano               |Rafael Oliveira|16                     |Basquete            |2012           |91            |Alta                 |
|S007        |Escola G      |Porto Alegre  |RS    |550             |6º ao 12º Ano              |Juliana Rocha  |13                     |Futebol             |1998           |85            |Baixa                |
|S008        |Escola H      |Recife        |PE    |200             |1º ao 5º Ano               |Lucas Almeida  |19                     |Natação             |2015           |93            |Alta                 |
|S009        |Escola I      |Manaus        |AM    |250             |Educação Infantil ao 5º Ano|Patricia Lima  |17                     |Basquete, Natação   |2020           |90            |Média                |
|S010        |Escola J      |Belém         |PA    |450             |1º ao 8º Ano               |Roberto Souza  |10                     |Futebol             |2008           |89            |Baixa                |
|S011        |Escola K      |Goiânia       |GO    |500             |6º ao 12º Ano              |Mariana Silva  |20                     |Basquete            |1990           |94            |Alta                 |
|S012        |Escola L      |Florianópolis |SC    |300             |Educação Infantil ao 9º Ano|Felipe Santos  |22                     |Futebol             |2018           |95            |Alta                 |
+------------+--------------+--------------+------+----------------+---------------------------+---------------+-----------------------+--------------------+---------------+--------------+---------------------+

In [ ]:
df_renomear = df\
.withColumnRenamed ("ID da Escola", "Id_escola")\
  .withColumnRenamed ("Nome da Escola", "Nome_Escola")\
  .withColumnRenamed ("Cidade", "Nome_Cidade")\
  .withColumnRenamed ("Estado", "Nome_Estado")\
  .withColumnRenamed ("Número de Alunos", "Qtd_alunos")\
  .withColumnRenamed ("Séries Oferecidas", "Nome_Series_Oferecidas")\
  .withColumnRenamed ("Diretor(a)", "Nome_Diretoria")\
  .withColumnRenamed ("Relação Professor/Aluno", "Qtd_relacao_Prof_Alun")\
  .withColumnRenamed ("Programas Esportivos", "Nome_Programas_Esportivos")\
  .withColumnRenamed ("Ano de Fundação", "Ano_de_Fundacao")\
  .withColumnRenamed ("Média de Notas", "Decimal_Média_Notas")\
  .withColumnRenamed ("Diversidade de Alunos", "Desc_Diversidade_Alunos")
df_renomear.show(truncate=False)

+---------+-----------+--------------+-----------+----------+---------------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|Id_escola|Nome_Escola|Nome_Cidade   |Nome_Estado|Qtd_alunos|Nome_Series_Oferecidas     |Nome_Diretoria |Qtd_relacao_Prof_Alun|Nome_Programas_Esportivos|Ano_de_Fundacao|Decimal_Média_Notas|Desc_Diversidade_Alunos|
+---------+-----------+--------------+-----------+----------+---------------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+
|S001     |Escola A   |São Paulo     |SP         |500       |1º ao 9º Ano               |Maria Silva    |15                   |Futebol, Basquete        |1995           |85                 |Alta                   |
|S002     |Escola B   |Rio de Janeiro|RJ         |300       |Educação Infantil ao 5º Ano|Carlos Pereira |18                   |Futebol                  |2000           |90                 |Média                  |
|S003     |Escola C   |Belo Horizonte|MG         |450       |6º ao 12º Ano              |Ana Costa      |20                   |Basquete                 |1985           |88                 |Baixa                  |
|S004     |Escola D   |Curitiba      |PR         |350       |1º ao 8º Ano               |José Santos    |12                   |Vôlei                    |2010           |92                 |Média                  |
|S005     |Escola E   |Salvador      |BA         |600       |Educação Infantil ao 9º Ano|Fernanda Souza |14                   |Futebol, Vôlei           |2005           |87                 |Alta                   |
|S006     |Escola F   |Fortaleza     |CE         |400       |1º ao 5º Ano               |Rafael Oliveira|16                   |Basquete                 |2012           |91                 |Alta                   |
|S007     |Escola G   |Porto Alegre  |RS         |550       |6º ao 12º Ano              |Juliana Rocha  |13                   |Futebol                  |1998           |85                 |Baixa                  |
|S008     |Escola H   |Recife        |PE         |200       |1º ao 5º Ano               |Lucas Almeida  |19                   |Natação                  |2015           |93                 |Alta                   |
|S009     |Escola I   |Manaus        |AM         |250       |Educação Infantil ao 5º Ano|Patricia Lima  |17                   |Basquete, Natação        |2020           |90                 |Média                  |
|S010     |Escola J   |Belém         |PA         |450       |1º ao 8º Ano               |Roberto Souza  |10                   |Futebol                  |2008           |89                 |Baixa                  |
|S011     |Escola K   |Goiânia       |GO         |500       |6º ao 12º Ano              |Mariana Silva  |20                   |Basquete                 |1990           |94                 |Alta                   |
|S012     |Escola L   |Florianópolis |SC         |300       |Educação Infantil ao 9º Ano|Felipe Santos  |22                   |Futebol                  |2018           |95                 |Alta                   |
+---------+-----------+--------------+-----------+----------+---------------------------+---------------+---------------------+-------------------------+---------------+-------------------+-----------------------+

In [ ]:
df_renomear.select(col('Qtd_relacao_Prof_Alun')).distinct().show()

+---------------------+
|Qtd_relacao_Prof_Alun|
+---------------------+
|                   12|
|                   18|
|                   14|
|                   15|
|                   20|
|                   16|
|                   19|
|                   22|
|                   17|
|                   10|
|                   13|
+---------------------+

In [ ]:
#collect() entrega em formato de lista o que você está pedindo
lista = df_renomear.select(col('Qtd_relacao_Prof_Alun')).distinct().collect()
lista

[Row(Qtd_relacao_Prof_Alun=12),
 Row(Qtd_relacao_Prof_Alun=18),
 Row(Qtd_relacao_Prof_Alun=14),
 Row(Qtd_relacao_Prof_Alun=15),
 Row(Qtd_relacao_Prof_Alun=20),
 Row(Qtd_relacao_Prof_Alun=16),
 Row(Qtd_relacao_Prof_Alun=19),
 Row(Qtd_relacao_Prof_Alun=22),
 Row(Qtd_relacao_Prof_Alun=17),
 Row(Qtd_relacao_Prof_Alun=10),
 Row(Qtd_relacao_Prof_Alun=13)]

In [ ]:
type(lista[9][0])

int

In [ ]:
lista[0][0]

12